<button class="Btn Btn--primary" type="button" name="button">Button</button>
<input class="Btn Btn--primary" type="button" name="button" value="Input button">
<input class="Btn Btn--primary" type="submit" name="name" value="Input submit">
<span class="Btn Btn--primary">Span button</span>
